  <div id="topToolbarDiv" class="topToolbar">
    <div id="topToolbarHelperText" class="topToolbarLabel"></div>
    <div class="dijitInline" style="white-space: nowrap">
      <div class="dijitInline topToolbarLabel">Template:</div>
      <div class="dijitInline topToolbarItem" id="templateSelectorDiv"></div>
    </div>
    <div class="dijitInline" style="white-space: nowrap">
      <div class="dijitInline topToolbarLabel">View infographic in:</div>
      <div class="dijitInline topToolbarItem" id="viewModeSelectorDiv"></div>
    </div>
  </div>
  <div id="map"></div>
